

      <p>Title: <%= @selected_post["title"].capitalize %></p>
      </br>
      <p>Category: <%= @selected_post["category"].capitalize %></p>
      </br>
      <p>Image: <center><a href="<%= @selected_post["url"] %>"><img src="<%= @selected_post["url"] %>" width="600px" /></a></center></p>
      </br>
      <p>Description: <%= @selected_post["description"] %></p>
      </br>

      <a href="/edit_post/<%= @id %>">Edit</a>
      </br>


      <form action="/each_post/<%= @id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete Post">
      </form>


