<h2>Edit your post</h2>

  <form method="POST" action="/edit_post/<%= @id %>">
    <label>User ID: <%= @post_to_edit["id"] %></label>
        <input type="hidden" id="user_id" name="user_id" value="<%= @post_to_edit["id"] %>"/>
        <br/><br/>
    <label>Title: </label>
      <input type="text" id="img_title" name="img_title" value="<%= @post_to_edit["title"] %>" />
      <br/><br/>
    <label>Category: </label>
      <select name="img_category" id="img_category">
        <option value="portraiture">Portrait</option>
        <option value="landscape">Landscape</option>
        <option value="still_life">Still Life</option>
      </select>
      <br/><br/>
    <label>Image url: </label>
      <input type="text" id="img_url" name="img_url" value="<%= @post_to_edit["url"] %>"/>
      <br/><br/>
    <label>Description:</label>
      <input type="text" id="img_description" name="img_description" value="<%= @post_to_edit["description"] %>" />
      <br/><br/>
    <img src="<%= @post_to_edit["url"] %>" width="500px" />
  </br></br>
    <input type="hidden" name="_method" value="PUT">
    <input type="submit" value="Edit Post">
  </form>

