<h2>This is your feed!</h2>

<ol>
    <% @feed_posts.reverse.first(10).each_with_index do |post, index|
      user = @user
      pic_id = index
      %>
      <a href="/each_post/<%= "#{user}" %><%= "#{pic_id}" %>" >
          <li>
              <img src="<%= post["url"] %>" width="300px" >
              </br>
              <p>Title: <%= post["title"].capitalize %></p>
              <p>Category: <%= post["category"].capitalize %></p>
              <p>Description: <%= post["description"] %></p>
              </br>
          </li>
      </a>
    <% end %>
</ol>

<footer>
    <center>
      <form action="/home/:id" method="GET">
        <input type="submit" value="Go to your Critique-It! Homepage">
      </form>
    </br>
    </br>
    </center>
</footer>
