<h2>This is your feed!</h2>

<ol>
    <% @feed_posts.reverse.first(10).each_with_index do |post, index|
      user = @user
      pic_id = index
      %>
      <a href="/each_post/<%= "#{user}" %><%= "#{pic_id}" %>" >
        <div class="box" >
          <li>
              <p>Title: <%= post["title"].capitalize %></p>
              </br>
              <p>Category: <%= post["category"].capitalize %></p>
              </br>
              <p>Image: <a href="<%= post["url"] %>"><img src="<%= post["url"] %>" width="300px" ></a></p>
              </br>
          </li>
        </div>
      </a>
    <% end %>
</ol>
