<h2>These are your posts</h2>

<ol>
    <% @posts.reverse.each_with_index do |post, index|
      user = @user
      pic_id = index
      %>
        <div id="posts">
        <li>
          <a href="/each_post/<%= "#{user}" %><%= "#{pic_id}" %>" >
          <img src="<%= post["url"] %>" width="300px" />
          </a>
          </br>
          <p>Image Title: <%= post["title"].capitalize %></p>
          <p>Category: <%= post["category"].capitalize %></p>
          <p>Description: <%= post["description"] %></p>
          </br>
        </li>
      </br>
      </br>
      </div>
    <% end %>
</ol>

<footer>
    <center>
      <% user = @user %>
      <form action="/home/<%= "#{user}" %>" method="GET">
        <input type="submit" value="Go to your Critique-It! Homepage">
      </form>
    </br>
    </br>
    </center>
</footer>

